@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import "tailwindcss-intersect";

@theme {
  --font-display: "Montserrat", serif;
  --color-verde-lord: #04b71e;
  --color-verde-lord-text: #04b71e;
  --color-naranja-lord: #ec8221;
  --shadow-form: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-left-full: fade-left-full 1s ease-in-out;
  --animate-fade-right-full: fade-right-full 1s ease-in-out;
  --animate-fade-up: fade-up 1s ease-in-out;
  
}

.bg-verde-proyecto{
  background: rgb(107,187,57);
  background: linear-gradient(130deg, rgba(107,187,57,1) 55%, rgba(140,199,71,1) 55%);
}
.bg_verde_gradient {
  background: rgb(110, 193, 61);
  background: linear-gradient(
    190deg,
    rgba(110, 193, 61, 1) 60%,
    rgba(108, 189, 33, 1) 60%
  );
}
.bg_form {
  background: rgb(255,255,255);
  background: linear-gradient(20deg, rgba(255,255,255,1) 0%, rgba(235,254,255,1) 28%, rgba(211,247,249,1) 51%, rgba(195,243,245,1) 66%, rgba(187,241,243,1) 76%, rgba(161,234,236,1) 86%, rgba(99,216,219,1) 100%);
}
.bg-icon{
  position: absolute;
}

.bg-icon::after{
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: 0;
  box-shadow: 0 23px 33px rgba(255, 255, 255, 0.6) inset;
}
#embla__viewport {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.icon-campo {
  animation: icon-campo-animation 2s ease-in-out, wiggle 1s ease-in-out infinite;
  animation-delay: 0ms, 2s;
}
@keyframes icon-campo-animation {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.icon-carro {
  animation: icon-carro-animation 2s ease-in-out, wiggle 1s ease-in-out infinite;
  animation-delay: 0ms, 2000ms;
}
@keyframes icon-carro-animation {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.icon-parque {
  animation: icon-parque-animation 2s ease-in-out, wiggle 1s ease-in-out infinite;
  animation-delay: 0ms, 2000ms;
}
@keyframes icon-parque-animation {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s ease-in-out;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-left-full {
  0% {
    opacity: 0;
    transform: translateX(-90%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fade-right-full {
  0% {
    opacity: 0;
    transform: translateX(90%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.fade-right-full {
  animation: fade-right-full 2s ease-in-out;
}
.fade-left-full {
  animation: fade-left-full 2s ease-in-out;
}
.fade-up {
  animation: fade-up 1s ease-in-out;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-down {
  animation: fade-down 1s ease-in-out;
}
.fade-down-full {
  animation: fade-down-full 2s ease-in-out;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  cursor: pointer;
  margin: 5px;
  width: var(--dot-size);
  height: var(--dot-size);
  display: flex;
  background-color: rgba(128, 128, 128, 0.781);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  background-color: var(--color-verde-lord);
}
