@import "tailwindcss";

@import "tailwindcss-intersect";

@theme {
  --font-display: "Montserrat", serif;
  --color-verde-lord: #04b71e;
  --color-naranja-lord: #ec8221;
  --shadow-form: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
.bg_verde_gradient {
  background: rgb(110, 193, 61);
  background: linear-gradient(
    190deg,
    rgba(110, 193, 61, 1) 60%,
    rgba(108, 189, 33, 1) 60%
  );
}
.bg_form {
  background: rgb(255,255,255);
  background: linear-gradient(20deg, rgba(255,255,255,1) 0%, rgba(235,254,255,1) 28%, rgba(211,247,249,1) 51%, rgba(195,243,245,1) 66%, rgba(187,241,243,1) 76%, rgba(161,234,236,1) 86%, rgba(99,216,219,1) 100%);
}
#embla__viewport {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s ease-in-out;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fade-up 1s ease-in-out;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-down {
  animation: fade-down 1s ease-in-out;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  cursor: pointer;
  margin: 5px;
  width: var(--dot-size);
  height: var(--dot-size);
  display: flex;
  background-color: rgba(128, 128, 128, 0.781);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  background-color: var(--color-verde-lord);
}
