---
import NavBar from "../components/layout/NavBar.astro";
import Footer from "../components/layout/Footer.astro";
import Head from "../components/layout/Head.astro";
const { title, selected, descripcion } = Astro.props;
---

<!doctype html>
<html lang="es" class="w-screen">
  <Head title={title} descripcion={descripcion} />
  <body class="relative bg-gray-50 w-screen font-display">
    <NavBar selected={selected} />
    <slot />
    <Footer />
  </body><script src="../js/index.ts"></script>
  <script>
    import { Observer } from "tailwindcss-intersect";
    Observer.start();
    document.addEventListener("astro:page-load", () => {
      Observer.start();
    });
  </script>
</html>
