---
import { ClientRouter } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
const { title, selected } = Astro.props;
---

<!doctype html>
<html lang="es" class="w-screen">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"
    ></script>
    <title>{title}</title>
    <script>
      function toggleMenu() {
        const menu = document.getElementById("menuOppener");
        const nav = document.querySelector("ul");
        menu?.addEventListener("click", () => {
          nav?.classList.contains("hidden")
            ? nav?.classList.replace("hidden", "flex")
            : nav?.classList.replace("flex", "hidden");
        });
      }
      toggleMenu();
    </script>
    <ClientRouter />
    <script
      is:inline
      src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </head>
  <body class="relative bg-gray-50 font-display w-screen">
    <NavBar selected={selected} />
    <slot />
    <Footer />
    <script src="../js/index.ts"></script>
    <script>
      import { Observer } from "tailwindcss-intersect";
      Observer.start();
      document.addEventListener("astro:page-load", () => {
        Observer.start();
      });
    </script>
  </body>
</html>
