---
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
import "aos/dist/aos.css";
const { title, selected } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"
    ></script>
    <script type="text/javascript">
      const emblaNode = document.querySelector(".embla");
      const options = { loop: false };
      const emblaApi = EmblaCarousel(emblaNode, options);

      console.log(emblaApi.slideNodes()); // Access API
    </script>

    <script>
      import { aosInit } from "../js/aos";

      // runs on initial page load
      aosInit();

      document.addEventListener("astro:after-swap", aosInit);
    </script>
    <script>
      function toggleMenu() {
        const menu = document.getElementById("menuOppener");
        const nav = document.querySelector("ul");
        menu?.addEventListener("click", () => {
          nav?.classList.contains("hidden")
            ? nav?.classList.replace("hidden", "flex")
            : nav?.classList.replace("flex", "hidden");
        });
      }
      toggleMenu();
    </script>
    <title>{title}</title>
  </head>
  <body class="">
    <NavBar selected={selected} />
    <slot />
  </body>
</html>
